body {
  background-image: url(src/bg-intro-desktop.png);
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #bc1016;
  opacity: 0.5;
  margin: 0 auto;
  height: 100%;
}
.inner-container {
  margin: 0 auto;
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 20px;
}
h1 {
  color: white;
  margin-top: 0;
  margin-bottom: 5px;
}
.text {
  color: white;
  margin-top: 0;
  margin-bottom: 20px;
}
.blue-bg {
  background-color: #5d55a3;
  width: 100%;
  padding: 3px;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 0;
}
.bold {
  margin: 0;
  color: white;
  font-weight: 700;
}
form {
  background-color: white;
  padding: 25px;
  border-radius: 8px;
}
form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

form input[type="submit"] {
  background-color: #37cd89;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.light {
  color: hsl(246, 25%, 77%);
  font-weight: 500;
}
::placeholder {
  color: black;
  font-weight: 700;
}
.text {
  color: hsl(246, 25%, 77%);
}
.bottom-text {
  color: hsl(246, 25%, 77%);
}
.red-text {
  color: hsl(0, 100%, 74%);
  cursor: pointer;
  font-weight: 700;
}
.red-text:hover {
  color: hsl(249, 10%, 26%);
}
