body {
  background-image: url(src/bg-intro-desktop.png);
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #bc1016;
  opacity: 0.5;
  margin: 0 auto;
  height: 100%;
}
.inner-container {
  margin: 0 auto;
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 20px;
  height: 100vh;
}
h1 {
  color: white;
}
.text {
  color: white;
}
.blue-bg {
  background-color: #180e6cdc;
  width: 100%;
  padding: 3px;
  border-radius: 8px;
  margin-bottom: 8px;
}
.bold {
  margin: 0;
  color: white;
}
form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}
form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

form input[type="submit"] {
  background-color: hsl(154, 59%, 51%);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
